.sitemap_head{
	padding-bottom:15px;
}
.sitemap{
	width:100%;
}
.sitebox{
	width:180px;
	height:400px;
	float:left;
	margin:0 6px;
}
.sitebox H3{
	border-bottom:solid 1px #ccc;
	padding-bottom:12px;
	padding-top:14px;
	padding-left:10px;
	border-top:solid 3px #167bc1;
	margin:0;
	font-size:16px;
	font-family:'맑은고딕', Dotum, '돋움';
	font-weight:bold;
	color:#167bc1;
	letter-spacing:-2px;
}
.sitemapbox{
	padding:0;
	margin:0;
	font-size:12px;
	font-family:Dotum, '돋움';
}
.sitemapbox li, .sitemapbox li a{
	list-style:none;
	color:#555;
	padding-top:6px;
	padding-left:12px;
	font-weight:bold;
	padding-bottom:8px;
	background:url(site_li_border.gif) no-repeat bottom;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.site_nomal{
	padding:0;
	margin:0;
}
.site_nomal li{
	list-style:none;
	padding:2px 10px 2px 20px;
	font-size:12px;
	font-family:Dotum, '돋움';

}
.site_nomal li a{
	font-weight:lighter;
	padding-left:7px;
	color:#777;
	background:url(site_icon.gif) no-repeat left;
	border-bottom:0px;
}