.membersearch{
	width:216px;
	padding-left:0px;
    padding-right:0px;
    padding-top:5px;
    padding-bottom:5px;

	background:url(./search_img.gif) no-repeat 180px 7px;
}
.search_head{
	padding-bottom:10px;
	padding-left:3px;
    height:25px;
    line-height:25px;
    padding-top:5px;
    font-weight: bold;
    font-size: 11pt;
    color: #666666;
}
.search_content table{
	width:100%;
}
.search_btn{
	padding-left:5px;
}
.searchItems {
        margin: 0;
        padding: 0;
        display: inline;
        list-style-type: none;
}
.searchresult {
    width:auto;
    min-height:40px;
    height:auto;
    margin-top:3px;
	margin-top:5px;
	border:solid 1px #CCC;
	padding:5px;
	min-height:50px;

}
.member {
    width:190px;
    min-height:40px;
    height:auto;
}
.photo {
    padding:0px;
    margin:0px;
    width:40px;
    height:45px;
    position:relative;
    float:left;
    margin-right:5px;
}
.userInfo {
    padding:0px;
    margin:0px;
    margin-left:5px;
    padding-bottom:3px;
    width:auto;
    min-height:45px;
    height:auto;
}
.uName {

	color:#565656;
	
	margin-left:0;
	padding-bottom:5px;
	padding-top:2px;
	font-weight:bold;

    width:190px;
    line-height:inherit;
    word-break:break-all;
    word-wrap:break-word;
}
.searchresult div
{
	width:auto;
	
	margin:0px;
    line-height:inherit;
    word-break:break-all;
    word-wrap:break-word;
    
}
.uDept {

}
.uPhone {

}
.uMail {

}