#siteIcon
{
	display:none;
}
.ms-core-deltaSuiteLinks
{
	vertical-align:top;
}
#s4-ribboncont, #suiteBarRight, #globalNavBox
{
	background-color:rgb(0, 114, 198);
}
.ms-cui-topBar2
{
	border-bottom-color:rgb(0, 114, 198);
}
.ms-browseTabContainer.ms-cui-topBar2
{
	border-bottom-color:rgb(0, 114, 198);
}
.ms-welcome-root > a.ms-core-menu-root
{
	color:#ffffff;
}
.ms-welcome-hover > a.ms-core-menu-root, .ms-signInLink:hover
{
	color:#444;
}
.ms-promotedActionButton-text
{
	color:#aaaaaa;
}
.ms-cui-tt-s.ms-browseTab > .ms-cui-tt-a > .ms-cui-tt-span,.ms-cui-tt-a > .ms-cui-tt-span
{
	color:#aaaaaa !important;
}
#pageTitle
{
	display:none;
}
#s4-titlerow 
{
	height:20px;
	padding-top:5px;
	padding-bottom:18px;
	/*background-color:#e4e5e7;*/
	background-color:rgb(0, 114, 198);
}
#titleAreaBox
{
	/*background-color: #44649f;*/
	background-color: #104E8B;
	margin-left:180px;
	margin-right:0px;
	padding-left:20px;
	height:38px;
}
#titleAreaRow > .ms-verticalAlignTop
{
	vertical-align:middle;
}
#titleAreaRow > a, .ms-link:visited
{
	color:#ffffff;	
}
.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-tv-selected:link
{
	color:#ffffff;
}
.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-tv-selected:link
{
	color:#ffffff;
}
.ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-selected.ms-core-listMenu-item:hover, a.ms-tv-item:hover, a.ms-tv-header:hover
{
	color:#fbfd04;
}
#sideNavBox .ms-core-listMenu-item, li.dynamic .ms-core-listMenu-item:link, li.dynamic .ms-core-listMenu-item:visited
{
	color:#666666;
	font-size:12px;
}
.ms-breadcrumb-box
{
	height:20px;
}
#searchInputBox
{
	margin-bottom:6px;
	margin-top:6px;
	margin-right:6px;
	float:right;
}
.ms-srch-sb
{
	background-color:#ffffff;
}
#contentRow
{
	padding-top:0px;
}
#sideNavBox
{
	margin-left:0px;
	background-color:#e4e5e7;
	height:100%;
}
.ms-core-sideNavBox-removeLeftMargin
{
	margin-left:0px;
}
.ms-listviewtable
{
	width:100%;
}
table.ms-listviewtable TH
{
	border-bottom:2px #ff8000 solid;
}

table.ms-listviewtable  td.ms-cellstyle
{
	border-bottom:1px #dedede dotted;
}

table.ms-listviewtable td.ms-vb-imgFirstCell
{
	border-bottom:1px #dedede dotted;
}
.ms-webpart-chrome-title, .ms-webpart-titleText
{
	font-size:12pt;
}
.ms-core-listMenu-item, .ms-core-listMenu-item:link, .ms-core-listMenu-item:visited, .ms-tv-item:link, .ms-tv-item:visited, .ms-tv-header:link, .ms-tv-header:visited
{
	color:#dddddd;
}
#sideNavBox .ms-core-listMenu-item,#sideNavBox  .ms-core-listMenu-item:link,#sideNavBox  .ms-core-listMenu-item:visited,#sideNavBox  .ms-tv-item:link,#sideNavBox  .ms-tv-item:visited,#sideNavBox  .ms-tv-header:link,#sideNavBox  .ms-tv-header:visited
{
	color:#666666;
	font-size:12px;
}

#sideNavBox .menu-item-text
{
	color:#666666;
}
.ms-webpart-chrome-title, .ms-webpart-titleText
{
	font-family:"Malgun Gothic","맑은 고딕",Gulim,"굴림",sans-serif;
	font-size:12pt;
}
.ms-webpart-titleText
{
	margin-left:5px;
	margin-top:5px;
}
#contentBox
{
	padding-top:5px;
	margin-top:0px;
	margin-left:200px;
	min-height: 500px;
}

#contentBox .ms-WPBody 
{
	padding-left:5px;
	padding-right:10px;
}
#Refinement
{
	padding-left:10px;
}

/**Today**/
.today{
	width:180px;
	min-height:110px;
	background:#e4e5e7;
	margin-top:14px;
}
.day_left{
	width:68px;
	margin-top:23px;
	float:left;
}
.day_right{
	float:left;
	width:106px;
	padding-bottom:10px;
}

.calender{
	background:url(Today/blue_today_calenderbg.gif) no-repeat;
	width:46px;
	height:47px;
	margin-left:10px;
}
.cal_month{
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:10px;
	font-weight:bold;
	width:46px;
	text-align:center;
	padding-top:7px;
}
.cal_day{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#333;
	font-size:18px;
	padding-top:3px;
	text-align:center;
}
.day_namebtn{
	border-bottom:solid 2px #0972b6;
	width:100%;
	height:25px;
	margin-bottom:2px;
}
.day_name{
	width:100px;
	border-bottom:solid 2px #0972b6;
	padding-left:8px;
	padding-bottom:6px;
	padding-top:6px;
	font-size:12px;
	font-weight:bold;
	font-family:Dotum,'돋움';
}
.name_mail div{
	height:26px;
	line-height:26px;
	color:#5a5a5a;
	background:url(Today/blue_today_text_line.gif) repeat-x center bottom;
}
.name_mail .aprTitle{
	font-size:12px;
	/*font-weight:bold;*/
	height:26px;
	line-height:26px;
	color:#5a5a5a
}
.name_mail .aprContent{
	height:26px;
	line-height:26px;
	color:#dd5600;
}
.graybg_line{
	background:url('Today/blue_bgline.gif') repeat-x left center;
	width:100%;
	height:2px;
	padding:8px 0;
}
